html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
h1{
    margin-left: 3rem;
    font-weight: 400;
}
li{
    list-style: none;
    margin-left: 2rem;
    padding-top: 8px;
    font-size: 1.3rem;
}
ul{
    display: flex;
    margin-right: 2rem;
}
nav{
    display:flex;
    justify-content: space-between;
}

.one{
    height:100vh;
    width:95vw;
    margin-left:2vw;
    margin-right:2vw;
}
.navbar>nav{
    display:flex;
    justify-content: space-between;
}
.skills{
    display:flex;
}
.skills>div{
    text-align: center;
    margin-top: 2rem;
    width:30vw;
    margin-left: 1vw;
}
.skills>div>p{
padding: 1rem;
}

.footer{
    background-color: black;
    color: white;
    text-align: center;
}
.footer>p{
    font-size: 25px;
}
a:link, a:visited{
    color: rgb(0, 0, 0);
}
a:hover{
    color: lightpink;
}
a{
    text-decoration: none;
}

